<!-- <hr> -->
<p-table [value]="Coupons">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Name</th>
            <th>Code</th> -->
            <!-- <th>Category</th>
            <th>Quantity</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.Name}}</td>
            <td class="text-primary">{{product.Code}} <i class="bi bi-clipboard text-dark" (click)="copyToClipboard(product.Code)"></i></td>

            <!-- <td>{{product.category}}</td>
            <td>{{product.quantity}}</td> -->
        </tr>
    </ng-template>
</p-table>