
<p-progressBar mode="indeterminate" *ngIf="isLoading" [style]="{'height': '6px'}"></p-progressBar>
<br>
    <ng-container *ngIf="orderHistory.length === 0">
    <div class="text-center">
    <h4><code>You haven't placed an order.</code></h4>
    </div>
    </ng-container>




    <div class="container-fluid">

        <div class="container" *ngFor="let a of orderHistory">
          <!-- Title -->
          <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order ID #{{a.OrderID}}</h2>
          </div>
        
          <!-- Main content -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Details -->
              <div class="card mb-4">
                <div class="card-body">
                  <div class="mb-3 d-flex justify-content-between">
                    <div>
                      <span class="me-3">{{a.date | date: 'dd/MM/yy hh:mm:ss a'}}</span>
                      <!-- <span class="me-3">#16123222</span> -->
                      <!-- <span class="me-3">Visa -1234</span> -->
                      <span class="badge rounded-pill bg-info">SHIPPING</span>
                    </div>
                    <div class="d-flex">
                      <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"> <span class="text">Invoice</span></button>
                      <div class="dropdown">
                        <button class="btn btn-light border p-0 text-muted" type="button" data-bs-toggle="dropdown">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="btn btn-link dropdown-item" (click)="showTrack(a.date)">Track Order</a></li>
                          <li><a class="dropdown-item"> Print <i class="bi bi-printer"></i></a></li>
                          <li><a class="dropdown-item"> Cancel <i class="bi bi-x-circle-fill"></i></a></li>
                          <li><a class="dropdown-item"> Return <i class="bi bi-arrow-counterclockwise"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <table class="table table-borderless">
                    <tbody>

                      <tr *ngFor="let item of a.items">
                        <td>
                          <div class="d-flex mb-2" >
                            <div class="flex-shrink-0">
                              <img src="{{item.image}}" alt="" width="80" style="border-radius: 7px;" class="img-fluid">
                            </div>
                            <div class="flex-lg-grow-1 ms-3">
                              <h6 class="text-primary mb-0">{{item.brand}}</h6>
                              <h6 class="small mb-0">{{item.title}}</h6>
                              
                            </div>
                          </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td class="text-end">₹ {{item.price*item.quantity}}</td>
                      </tr>
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">Subtotal</td>
                        <td class="text-end">₹ {{a.Products_Total | number : '1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">GST (18%)</td>
                        <td class="text-end text-primary">+ ₹ {{a.GST | number : '1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">Discount (30%)</td>
                        <td class="text-end text-danger">- ₹ {{a.Discount | number : '1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">Shipping</td>
                        <td class="text-end"> {{ (a.Shipping_Charges === 'Free') ? 'Free' : '₹ ' + a.Shipping_Charges }}</td>
                      </tr>
                      <!-- <tr>
                        <td colspan="2">Discount (Code: NEWYEAR)</td>
                        <td class="text-danger text-end">-₹10.00</td>
                      </tr> -->
                      <tr class="fw-bold">
                        <td colspan="2">TOTAL</td>
                        <td class="text-end">₹ {{a.Total | number : '1.2-2'}}</td>
                      </tr>
                      <tr class="fw-bold">
                        <td colspan="2" class="text-info">Payment Method</td>
                        <td class="text-end text-info">{{a.Payment_Method}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              
              <!-- Payment -->
              <!-- <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3 class="h6">Payment Method</h3>
                      <p>Visa -1234 <br>
                      Total: ₹169,98 <span class="badge bg-success rounded-pill">PAID</span></p>
                    </div>
                    <div class="col-lg-6">
                      <h3 class="h6">Billing address</h3>
                      <address>
                        <strong>John Doe</strong><br>
                        1355 Market St, Suite 900<br>
                        San Francisco, CA 94103<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                      </address>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-lg-4"> -->
              <!-- Customer Notes -->
              <!-- <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6">Customer Notes</h3>
                  <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
                </div>
              </div>
              <div class="card mb-4"> -->
                <!-- Shipping information -->
                <!-- <div class="card-body">
                  <h3 class="h6">Shipping Information</h3>
                  <strong>FedEx</strong>
                  <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                  <hr>
                  <h3 class="h6">Address</h3>
                  <address>
                    <strong>John Doe</strong><br>
                    1355 Market St, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div> -->

          